* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

:root {
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --bg: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
  --blue: hsl(246, 80%, 60%);
}

body {
  font-family: 'Rubik', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  height: 100vh;
  padding: 50px 0;
}

.teste {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  background-color: hsl(235, 46%, 20%);
  margin-right: 30px;
  border-radius: 10px;
  height: 445px;
  width: 220px;
}

.container-img {
  background-color: hsl(246, 80%, 60%);
  color: white;
  padding: 30px 30px 40px;
  border-radius: 10px;
  line-height: 25px;
}

.container-img h1 {
  line-height: 50px;
  font-weight: 300;
}

.container-img p {
  font-weight: 400;
  margin-top: 30px;
  font-size: 12px;
  color: hsl(236, 100%, 87%);
}

.jeremy {
  height: 60px;
  border: 2px solid white;
  border-radius: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 20px;
  color: white;
  background: none;
  cursor: pointer;
  color: hsl(236, 100%, 87%);
}


#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.card {
  background-color: hsl(195, 74%, 62%);
  border-radius: 10px;
}

.card h1 {
  margin-top: 20px;
  font-size: 50px;
}

.top-card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img {
  height: 35px;
}

.card-content {
  padding: 20px;
  background-color: hsl(235, 46%, 20%);
  color: white;
  border-radius: 8px;
  height: 180px;
  width: 220px;
  line-height: 40px;
}

.card-content h2 {
  font-size: 18px;
  font-weight: 500;
}

.card-content p {
  color: hsl(236, 100%, 87%);
  font-size: 12px;
  font-weight: 300;
}